<footer fxFlex="100" style="height: 230px;" class="bg-image">
    <div fxFlex="90" fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center">
        <div fxFlex="30" fxLayout="column" fxLayoutAlign="center end" fxLayoutGap="16px" fxFlex.lg = "40" fxFlex.md = "45" fxHide.sm fxHide.xs>
            <div><b>Get in touch</b></div>
            <div>
                loremipsumpk@gmail.com<img src="/assets/email.svg" height="11px" width="15px" style="padding-left: 20px;">
            </div>

            <div>
                Floor 3, One Expressway, Gulberg Greens, Islamabad<img src="/assets/maps-and-flags.svg"  height="16px" width="11px" style="padding-left: 20px;">
            </div>

            <div fxLayout="row" style="padding-top: 20px;" fxLayoutGap="40px">
                <div>Contact</div>
                <div>Disclaimer</div>
                <div>Privacy Policy</div>
            </div>
        </div>

        <div fxFlex="30" fxLayout="column" fxLayoutAlign="center end" fxLayoutGap="16px" fxFlex.lg = "40" fxFlex.md = "45" fxHide.sm fxHide.xs>
            <div><b>FOLLOW US</b></div>
            <div fxLayout="row" fxLayoutGap="20px">
                <img src="/assets/instagram (1).png" height="30px" width="30px">
                <img src="/assets/facebook.svg" height="30px" width="30px">
                <img src="/assets/twitter.svg" height="30px" width="30px">
                <img src="/assets/youtube.svg" height="30px" width="30px">
            </div>

            <div style="padding-top: 44px;">
                @2020 Lorem Ipsum, Pvt. Ltd. All rights reserved
            </div>
        </div>

        <div fxHide.md fxHide.lg fxHide.xl fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div style="color: rgba(255, 255, 255, 1);">Terms and conditions</div>
            <div style="color: rgba(255, 255, 255, 1);">Privacy</div>
            <div>
                @2020 Lorem Ipsum, Pvt. Ltd. All rights reserved
            </div>
            <div>
                All rights reserved
            </div>
        </div>
    </div>
</footer>
