<div fxLayoutAlign="center center" class="nav-bar">
    <nav fxLayout="row" fxFlex="70" class="nav" fxLayoutAlign="space-between" fxFlex.xs="80" fxFlex.sm="80">
        <div fxHide.md fxHide.sm fxHide.lg fxHide.xl fx fxFlex="10" fxLayoutAlign="center center">
            <mat-icon>menu</mat-icon>
        </div>
        <div fxFlex="40" fxLayoutAlign="start center" class="logo" fxFlex.xs="80" fxLayoutAlign.xs="center center">
            YOUR LOGO
        </div>
        <div fxFlex="60" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="32px" class="nav-elements" fxHide.xs fxLayoutGap.md = "16px" fxLayoutGap.sm = "10px">
            <span>How it works</span>
            <span>Franchise List</span>
            <span>Franchising guide</span>
            <button mat-flat-button class="button">Contact</button>
        </div>
        <!-- <div>

        </div> -->
    </nav>
</div>