.body
{
    // background-color: #08083D;
    color: white;
    background: url('/assets/Group 1321.svg');
    height: 600px;
}
.lorem-heading
{
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
}
.button
{
    // background-color: #6184D8;
    color: white;
    font-size: 40px;
    font-weight: 800;
    height: 52px;
    padding: 10px;
    cursor: pointer;
    
}
.lorem-para
{
    font-size: 20px;
    margin: 20px 0px 20px 0px;
    line-height: 30px;
}
.franchise-btn
{
    font-size: 20px;
    border: 0px;
    border-radius: 50px;
    background-color: #23CE6B;
    color: white;
    height: 70px;
    width: 350px;
    margin-top: 40px;
    box-shadow: 0px 15px 10px -15px #23CE6B;
}
.check
{
    width: "25px";
    height: "20px";
}
.image
{
    margin-left: 20px;
    width: 24px;
    height: 24px;
}
.dolor
{
    height: 600px;
    background-color: #e8efff;
    font-size: 24px;
    color: #08083D;
}
.dolor-heading
{
    font-size: 40px;
    margin-bottom: 80px;
}
.malls
{
    height: 840px;
    background-color: #08083D;
    color: white;
    padding: 40px 0px 40px 0px;
    width: 100%;
}
.malls-heading
{
    font-size: 45px;
    font-weight: 800;
    line-height: 60px;
    max-width: 70%;
}
.malls-para
{
    font-size: 19px;
    max-width: 70%;
}
.seo
{
    height: 700px;
    background-color: #6184D8;
    color: white;
    width: 100%; 
}
.lorem-word
{
    font-size: 40px;
    color: #23CE6B;
}
.seo-right
{
    line-height: 40px;
}
.seo-head
{
    font-size: 40px;
}
.seo-para
{
    font-size: 19px;
}
.item-heading
{
    font-size: 40px;
    font-weight: 800;
    margin: 60px 0px 60px 0px;
}
.para-heading
{
    font-size: 27px;
    padding: 20px 0px 20px 0px
}
.steps
{
    // background: linear-gradient(#6184D8, #08083D);
    background: linear-gradient(to bottom right, rgba(97, 132, 216, 1), rgba(8, 8, 61, 1) 90%);
    // background: linear-gradient(rgba(97, 132, 216, 1), rgba(8, 8, 61, 1) 99%);
    color: white;
    padding: 80px 0px 40px 0px;
}
.radiant-bg
{
    background: linear-gradient(#23CE6B, #4D80FB);
    color: white;
    height: 115px;
    width: 115px;
    border-radius: 50%;
}
.card
{
    border: 1px solid white;
    border-radius: 16px;
    padding: 52px;
}

.bg-img
{
    background: url('/assets/Mask Group 750.png');
    color: white;
    height: 600px;
}
.stories
{
    background: url('/assets/Image 89.png');
    padding: 60px 0px 40px 0px;
    color: white;
}
.cards-2
{
    background-color: black;
    color: white;
    height: 500px;
    padding: 20px;
}
.gaurantee
{
    background: linear-gradient(to right, rgba(97, 132, 216, 1), rgba(8, 8, 61, 1) 90%);
    padding: 60px 0px 40px 0px;
    color: white;
}
.step-heading
{
    font-size: 40px;
    font-weight: 800;
}
.prev-btn
{
    background-color: #4D80FB;
}
.next-btn
{
    background-color: #4D80FB;
}
.step
{
    color: #23CE6B;
    font-size: 27px;
    font-weight: 800;
}
.step-para-head
{
    font-size: 45px;
    padding: 20px 0px 20px 0px;
}
.step-para
{
    font-size: 21px;
}
.box-heading
{
    font-size: 40px;
    padding-bottom: 40px;
}
.share-img
{
    height: 53px;
    width: 53px;
}
.head
{
    font-size: 40px;
    padding: 40px 0px 40px 0px;
}
.head-gr
{
    font-size: 40px;
    color: #23CE6B;
    padding-bottom: 20px;
}
.head-para
{
    font-size: 21px;
    padding-bottom: 20px;
}
.p-15
{
    padding-left: 15%;
}
.success
{
    font-size: 40px;
    font-weight: 800; 
    padding-bottom: 40px;
}
.logo-head
{
    font-size: 40px;
    font-weight: 800;
}
.logo-body
{
    font-size: 21px;
}
.logo-image
{
    height: "274px";
    width: "321px";
}
.man
{
    font-size: 24px;
    color: rgba(8, 8, 61, 1);
}
.man-heading
{
    font-size: 40px;
    color: rgba(8, 8, 61, 1);
    padding: 20px 0px 20px 0px;
    line-height: 60px;
}
.image-mb
{
    height: 250px;
    width: 250px;
}
.client
{
    font-size: 24px;
}
.text
{
    padding-left: 10%;
}

@media screen and (max-width: 768px) 
{
    // .body
    // {
    //     background: url('/assets/Group 1322 (1).svg');
    //     width: 100%;
    // }
    .lorem-heading
    {
        font-size: 32px;
        line-height: 30px;
        font-weight: 600;
        text-align: center;
        padding-top: 20px;
    }

    .button
    {
        font-size: 32px;
        height: 41px;
        padding: 6px;
    }
    .lorem-para
    {
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }
    .franchise-btn
    {
        height: 46px;
        font-size: 18px;
        width: 278px;
        margin-top: 20px;
    }
    .image
    {
        width: 15px;
        height: 16px;
    }
    .dolor-heading
    {
        font-size: 28px;
        margin-bottom: 40px;
        line-height: 25px;
        text-align: center;
    }
    .dolor
    {
        font-size: 16px;
        background: url('/assets/Mask Group 877.png');
        color: white;
        background-size: 500px 600px;
        background-repeat: no-repeat;
        padding: 20px;
    }
    .malls-heading
    {
        font-size: 30px;
        line-height: 30px;
        max-width: 90%;
        text-align: center;
    }
    .malls-para
    {
        font-size: 16px;
    }
    .lorem-word
    {
        font-size: 28px;
        line-height: 20px;
    }
    .seo-head
    {
        font-size: 28px;
    }
    .seo-para
    {
        font-size: 14px;
    }
    .item-heading
    {
        font-size: 28px;
        margin: 20px 0px 20px 0px;
        text-align: center;
        line-height: 30px;
    }
    .para-heading
    {
        font-size: 20px;
    }
    .step-heading
    {
        font-size: 28px;
        line-height: 30px;
    }
    .step
    {
        font-size: 20px;
    }
    .step-para-head
    {
        font-size: 24px;
    }
    .step-para
    {
        font-size: 16px;
        text-align: center;
    }
    .radiant-bg
    {
        height: 60px;
        width: 60px;
    }
    .box-heading
    {
        font-size: 24px;
        padding-bottom: 20px;
    }
    .share-img
    {
        height: 25px;
        width: 25px;
    }
    .head
    {
        text-align: center;
        font-size: 28px;
        padding: 20px 0px 20px 0px;
    }
    .head-gr
    {
        text-align: center;
        font-size: 28px;
    }
    .head-para
    {
        text-align: center;
        font-size: 14px;
    }
    .success
    {
        font-size: 32px;
    }
    .stories
    {
        background: #706c8c;
    }
    .logo-head
    {
        font-size: 32px;
        line-height: 40px;
    }
    .logo-body
    {
        font-size: 16px;
    }
    .logo-image
    {
        height: 150px;
        width: 200px;
    }
    .man
    {
        font-size: 18px;
        text-align: center;
    }
    .man-heading
    {
        font-size: 32px;
        text-align: center;
    }
    .check
    {
        width: "15px";
        height: "13px";
    }
    .malls
    {
        height: 700px;
        padding: 20px 0px 20px 0px;

    }
    .next-img
    {
        height: 20px;
        width: 20px;
    }
    .card
    {
        padding: 30px;
        margin-top: 20px;
    }
    .steps
    {
        padding: 60px 0px 60px 0px;
    }
    .bg-imag
    {
        background: #08083D;
    }
    .client
    {
        font-size: 21px;
        text-align: center;
    }
   
}

.img2
{
    padding-top: 20px;
    padding-bottom: 20px;
}